# Auto detect text files and perform LF normalization
* text=auto
features.pkl filter=lfs diff=lfs merge=lfs -text
DNN60days_return_prediction.xlsx filter=lfs diff=lfs merge=lfs -text
stock[[:space:]]model filter=lfs diff=lfs merge=lfs -text
pic1 filter=lfs diff=lfs merge=lfs -text
pic2 filter=lfs diff=lfs merge=lfs -text
